*
{
    box-sizing: border-box;
}

@font-face
{
    font-family: cyrillic;
    src: url(ChampagneAndLimousines-7KRB.ttf);
}

body
{
    font-family: cyrillic;
    font-size: 1.5em;
    text-align: left;
    margin: 0;
    color: #000000;
    
    background-image: url(background.jpg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

div
{
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 2em;
}

@media (max-width: 800px)
{
    header {display: none;}
}

header
{
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    background-color: #F7AD63;
    text-align: right;
    padding-top: 12px;
}

header span
{
    padding-right: 2%;
}

h1
{
    margin: 0;
    padding: 30px;
    font-size: 2.5em;
    text-align: center;
    font-weight: normal;
}

h2
{
    margin: 0;
    font-size: 1.5em;
    font-weight: normal;
    padding-top: 20px;
    padding-bottom: 20px;
}

.name-and-title
{
    /* background-color: #A9CAED; */
    padding-bottom: 1em;
}

.about-me
{
    /* background-color: #99BADD */
}

.skills-and-courses
{
    /* background-color: #7799F7; */
}

.my-projects
{
    /* background-color: #7B97B5; */
}

.my-projects h1
{
    padding-bottom: 15px;
}

.my-projects span
{
    display: block;
    margin-top: 15px;
}

.course-title
{
    font-size: 1.5em;   
}

span.course-title
{
    display: block;
}

a:link, a:visited
{
    color: inherit;
    text-decoration: none;
}

a:link:active, a:visited:active
{
    color: inherit;
}

ul
{
    margin: 0;
}

li
{
    padding-top: 10px;
}

footer
{
    background-color: #1E2949;
    color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    padding-top: 12px;
    height: 40px;
}

footer span
{
    display: block;
    background-color: #1E2949;
    float: right;
    padding-right: 2%;
    text-align: center;
}

@media (max-width: 800px)
{
    footer span
    {
        width: 100%;
        padding-right: 0;
        padding-bottom: 12px;
    }
}